#root{
    /* min-height: 100vh; */
    /* background-color: red; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
}
body, html{
    margin: 0;
    padding: 0;

}