#product-page {
    padding: 2rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    min-height: 85vh;

}

.sortBtns {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.outer-card {
    width: 350px;
    height: auto;
    min-height: 550px;
    background-color: #0d6efd;
    border-radius: .75rem;
    position: relative;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    ;
}

.outer-card:hover {
    box-shadow: 0px 12px 36px rgba(0, 0, 0, 0.3);
}

.inner-card {
    width: 100%;
    height: 90%;
    border-radius: 1.5rem 1.5rem .75rem .75rem;
    background-color: #f8f8f8;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .75rem .5rem 0 .5rem;
    text-align: center;

}

.product-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
    line-height: 1.5em;
}

.product-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
    line-height: 1.5em;
}

.product-image {
    width: 100%;
    height: 210px;
    border: 1px solid #e7e4e4;
    border-radius: .75rem;
    padding: .25rem;

}

.product-image img {
    width: 100%;
    height: 100%;
    border-radius: .75rem;
    object-fit: fill;
}

.cart-btn {
    width: 100%;
    height: 60px;
    border-radius: 0rem 0rem .75rem .75rem;
    position: absolute;
    bottom: 0;
    outline: 0;
    border: 0;
    font-size: 1.25rem;
    font-weight: 600;
}

.product-price-rating {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-edit,
.product-dlt-btn {
    background-color: #e3eaf4;
    padding: .75rem .65rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    outline: 0;
    border: 0;

}

.edit-delete-buttons {
    display: none;
}

.outer-card:hover .edit-delete-buttons {
    display: flex;
}



.sort-filter {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .sort-btns, .filter-btns {
    display: flex;
    gap: .5rem;
    white-space: nowrap;
  }
  
  .sort-btns::-webkit-scrollbar,
  .filter-btns::-webkit-scrollbar {
    display: none;
  }

  .filter-btns{
    min-width: 250px;
  }
  
  .custom-dropdown-menu {
    max-height: 300px; /* Set max height */
    overflow-y: auto;  /* Enable scrolling */
  }
  
  /* Optional: Customize dropdown button */
  .custom-dropdown-toggle {
    min-width: 120px;
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
  }
  
  .custom-dropdown-toggle:hover {
    background-color: #007bff;
    color: white;
  }

@media (max-width: 768px) {
    #product-page {
        padding: 2rem 1rem;

    }

    .input-group {
        width: 90%;
    }

}