#product-page{
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
.custom-hero-card{
    height: 250px;
    border: none;
    border-radius: 1rem;
}
.custom-hero-card-image{
    height: 100%;
    border: none;
    border-radius: 1rem;
}
.sortBtns{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}




@media (max-width: 768px){
    #product-page {
        padding: 2rem 1rem;
        
    }

    .input-group{
        width: 90%;
    }
}

