#home-container{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.home-description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0d6efd;
    text-align: center;
}
.home-description h2{
    font-size: 2.5rem;
}
.home-description .home-slogan span{
    font-size: 5rem;
}
/* .image-showcase{
    width: 50%;
} */

.btn span{
    margin-left: 1rem;
}