#home_section{
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
}
.home-category{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    padding: 3rem 1rem;
    margin: 0rem 1rem;
}
.category-card{
    width: 180px;
    height: 160px;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.category-img {
    width: 75%;
    transition: transform 0.3s ease-in-out;
}
  
.category-img:hover {
    transform: scale(1.2);
}

.carousel-item, img {
    height: 100%;
    width: 100%;

}


@media (max-width: 1196px) {
    .home-category{
        grid-template-columns: repeat(4, 1fr);
        padding: 1rem .25rem;
        margin: 0;
    }
    .category-card{
        width: 160px;
        height: 160px;   
    }
}

@media (max-width: 796px){
    #home_section{
        /* padding: .5rem; */
        text-align: center;
    }
    .home-category{
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem .25rem;
        margin: 0;
    }
    .category-card{
        width: 160px;
        height: 160px;   
    }
    .category-img{
        width: 75%;
    }
}
