#signin-page{
    height: auto;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-page{
    width: 50%;
    border: 1px solid;
    padding: 1rem;
    border-radius: 1rem;
}

@media (max-width: 768px){
    .signin-page{
        width: 90%;
        padding: 1rem;
    }
}