.signin-page{
    width: 50%;
    height: auto;
    margin: 10% auto;
    border: 1px solid;
    padding: 1rem;
    border-radius: 1rem;
}

@media (max-width: 768px){
    .signin-page{
        width: 90%;
        padding: 1rem;
    }
}