#signin-page{
    height: auto;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-page{
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

@media (max-width: 768px){
    .signin-page{
        width: 90%;
        padding: 1rem;
    }
}