#prod-details {
    padding: 4rem 8rem;
}


#prod-details .prod-card{
    display: flex;
    width: auto;
    height: 450px;
    justify-content: space-between;
    align-items: center;
    border-radius: .25rem; 
    padding: .5rem;   
}

#prod-details .prod-look {
    width: 50%;
    height: 100%;
    display: flex;
    /* padding: 1rem .5rem; */
    justify-content: space-between;

}


#prod-details .prod-look .prod-img {
    min-height: 100%;
    width: 79%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: .25rem;
    border: 3px solid #0d6efd;
    
}

#prod-details .prod-look .prod-img #mainimg {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    
}
#prod-details .prod-look .product-images{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#prod-details .prod-look .small-img-box{
    width: 100%;
    height: 23%;
    border-radius: .25rem; 
}
#prod-details .prod-look .small-img-box .small-img{
    width: 100%;
    height: 100%;
    border-radius: .25rem;
    object-fit: fill;
}
.imageSelected{
    border: 3px solid #0d6efd;
}

#prod-details .order{
    display: flex;
    justify-content: flex-start;
    gap: .25rem;
}


#prod-details .details {
    width: 50%;
    height: 100%;
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#prod-details .details h2 {
    font-size: 1.75rem;
}

#prod-details .details .ratings {
    width: 60px;
    background-color: #ffffff;
    border-radius: 1rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

}

#prod-details .details .ratings i {
    padding: 0 0 .25rem .25rem;
    font-size: 1rem;
}




@media (max-width: 1096px){
    #prod-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }
    #prod-details .prod-card{
        width: 80%;
        height: auto;
        display: flex; 
        flex-direction: column;
    }

    #prod-details .prod-look{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        
    }
    #prod-details .prod-look .prod-img{
        width: 100%;
        height: 80%;
    }
    #prod-details .prod-look .prod-img img{
        height: 100%;
    }
    #prod-details .prod-look .product-images {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: .5rem;
        /* background-color: red; */
    }
    #prod-details .prod-look .small-img-box {
        width: 25%;
        height: 120px;
    }
    


    #prod-details .details{
        width: 100%;
        padding-top: 0;
    }

}

@media (max-width: 768px){
    #prod-details{
        padding: .5rem;
    }
    #prod-details .prod-card{
        width: 100%;
        height: auto;
        display: flex; 
        flex-direction: column;
    }

    #prod-details .prod-look{
        padding: 0rem;
    }
   
    #prod-details .prod-look .small-img-box {
        height: 100px;
    }
    #prod-details .details{
        padding: 0rem;
    }
    
}