#footer-page{
    /* position: absolute; */
    /* bottom: -200px; */
    /* width: 100%; */
    margin: 0;
    padding: 2rem;
    text-align: center;

}
.footer-social-links{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}