#cart-page {
  padding: 2rem 8rem;         
  margin: 20px auto; 
  height: auto;
  min-height: 85vh;   
}

.cart-card {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  align-items: stretch;
  height: 250px; 
  margin-bottom: 2rem;
}

.cart-card img {
  max-width: 100%;
  width: 350px;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  object-fit: fill;
}


.cart-card .card {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#cart-page h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #333333;
}

.buy-btn i{
  font-size: 1.1rem;
  margin-right: .5rem;
}
.remove-btn i{
  font-size: 1rem;
  margin-right: .5rem;
}



@media (max-width: 1096px){
  #cart-page{
    padding: 1rem 2rem;
  }
  .cart-card {
    display: flex;
    margin-bottom: 2rem;
  }

  .cart-card img{
    width: 300px;
  }
  .remove-btn{
    width: 100%;
  }
}

@media (max-width: 700px){
  #cart-page{
    padding: 1rem;
  }
  .cart-card{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    height: auto;
  }
  .cart-card img {
    width: 100%;
    height: 220px;
   
}
  
}

