.admin-product-form,.admin-edit-form,.admin-publish-form{
    width: 50%;
    height: auto;
    margin: 5% auto;
    border: 1px solid;
    padding: 1rem;
    border-radius: 1rem;
}

@media (max-width: 1096px){
    .admin-product-form,.admin-edit-form,.admin-publish-form{
        width: 90%;
        padding: 1rem;
    }
    
}
