.admin-product-form,.admin-edit-form,.admin-publish-form,.admin-social-forms,.admin-edit-user{
    width: 50%;
    height: auto;
    margin: 5% auto;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Add a light border for visibility */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;

}
.admin-social-links{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.active {
    font-weight: bold;
    background-color: #007bff;

}
.admin-user-table{
    padding: 3rem 5rem;
}

@media (max-width: 1096px){
    .admin-product-form,.admin-edit-form,.admin-publish-form,.admin-social-forms,.admin-edit-user{
        width: 90%;
        padding: 1rem;
    }
    .admin-user-table{
        padding: .5rem;
    }
    
}
