#yoga-blog{
    padding: 2rem 5rem;
    text-align: center;
}
.blog-container{
    text-align: left;

    h2{
        margin: 2rem 0rem;
    }
}

.blog-card {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  align-items: stretch;
  height: 350px; 
  margin-bottom: 2rem;
}
  
  
  .blog-card .image-wrapper img {
    width: 350px;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .blog-card .card {
    flex-grow: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  #yoga-blog h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
  }



  @media (max-width: 1096px){
    .blog-card {
      display: flex;
      flex-direction: column;
      height: auto;
      margin-bottom: 2rem;
    }

    .blog-card img{
      max-height: 400px;
    }
  }

  @media (max-width: 640px){
    #yoga-blog{
      padding: 1rem;
    }
    .blog-card{
      padding: .5rem;
    }
  }
  
